.w-100 {
  width: 100% !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.align-items-center {
  align-items: center;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 40px;
}

.my-4 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

/* ActionTextCard.jsx */

.property-tab-header {
  padding-top: 17px;
  padding-bottom: 17px;

  margin: 0px;

  width: 300px;

  margin: auto;
  display: flex;

  text-transform: uppercase;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;

  color: #333333;
}

.property-tab-header ul {
  display: flex;
  justify-content: space-between;

  height: 30px;

  padding: 0;
  margin: 0;

  background: #ededf3;
  border-radius: 30px;
}
.property-tab-header li {
  width: 100%;

  cursor: pointer;
}

.property-tab-header li.active {
  background: #ffffff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  border-radius: 26px;
  margin: 3px;
}

.property-tab-header .features {
  display: block;
  position: relative;
}
/*  */

.sort-button {
  background: #ededf3;
  border-radius: 44px;

  font-size: 14px;
  line-height: 19px;

  color: #333333;

  border: none;
  outline: none;
}

/* Conditional Box Styles */

.conditional-box {
  display: grid;
  grid-template-columns: [first] 90% [line2] 10%;

  background: #f3f3f4;
  /* #E0E0E0 */

  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;

  padding: 10px;
}

.conditional-body {
  padding-right: 5px;
}

.conditional-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conditional-action svg {
  cursor: pointer;
}

/*  */
