.settings-header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 22px;
  padding-bottom: 22px;

  /* #303655 */

  color: #303655;

  border-bottom: 1px solid #dfdfdf;
}
.settings-tab {
  padding-top: 17px;
  padding-bottom: 17px;
  margin: 0px;
  width: 300px;
  margin: auto;
  display: flex;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}
.settings-tab ul {
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 0;
  margin: 0;
  background: #ededf3;
  border-radius: 30px;
}
.settings-tab li {
  width: 100%;
  cursor: pointer;
}

.settings-tab li.active {
  background: #ffffff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  border-radius: 26px;
  margin: 3px;
}
