.w-100 {
  width: 100% !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 40px;
}

.my-4 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.flex-column {
  flex-direction: column;
}

.status-card {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: #333333;

  border-bottom: 1px solid #dfdfdf;
  padding: 18px;
}

.status-card > label {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  margin-bottom: 15px;
  text-transform: capitalize;
}

.status-card > p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  /* txt_dark */

  color: #333333;
}
.slider-picker {
  margin : 50px  0px;
}