.app-info-card {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.app-info-card input[type='text'] {
  background: #ffffff;
  /* #BDBDBD */

  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 28px;

  padding-left: 10px;

  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.tablet-card label {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.tablet-card p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
.zapier-btn {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  /* #36A7FD_btn */

  color: #36a7fd;

  border: 1px solid #36a7fd;
  border-radius: 28px;

  background-color: transparent;

  padding: 7px 16px 7px 16px;
}
