.d-flex {
  display: flex !important;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.my-1 {
  margin-bottom: 5px;
  margin-top: 5px;
}
.my-2 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 15px;
}
.w-100 {
  width: 100%;
}
.mb-5 {
  margin-bottom: 25px;
}
.text-center {
  text-align: center;
}

.app-component-card {
  width: 100%;

  margin-top: 10px;
  margin-bottom: 40px;

  overflow-wrap: break-word;

  font-family: Open Sans;
  font-style: normal;

  color: #303655;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  border-radius: 5px;

  position: relative;
}

.app-component-card.disabled {
  background: #f3f3f4;
}

.app-component-card label {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #737383;

  text-transform: capitalize;
}

.app-component-card .normal-text {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #303655;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.app-component-card .small-text {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 16px;
  line-height: 25px;

  color: #303655;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app-component-card .normal-weight-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */

  display: flex;
  justify-content: center;
  flex-direction: column;

  color: #333333;

  margin: 0;
  padding: 0;
}

.app-component-card .component-button {
  background: #f62765;
  border-radius: 50%;
  border: none;

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.app-component-card .component-button.invert-color {
  background: transparent;
}
.app-component-card .component-button.black-color {
  background: #303655;
}
.app-component-card .component-button svg {
  width: 20px;
  height: 20px;
}
.app-component-card .component-button svg path {
  fill: white;
}
.app-component-card .component-button.invert-color svg path {
  fill: #f62765;
}

.separator {
  width: 1px;
  border: 1px solid #dfdfdf;
  margin-top: 20px;
  margin-bottom: 20px;
}

.app-component-card .large-avatar {
  width: 100%;
  border-radius: 5px;

  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;

  overflow: hidden;
}
.app-component-card .large-avatar .avatar-info {
  width: 100%;
  height: 60%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  padding-left: 20px;

  display: flex;
  flex-direction: column-reverse;
}
.avatar-info p {
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.avatar-info p:last-child {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.avatar-info p:first-child {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
}

.app-component-card .large-property-img {
  width: 100%;
  height: 300px;

  background-repeat: no-repeat;
}
.large-property-img img {
  width: 100%;
  height: 100%;
}

.large-component-button {
  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(30px);

  border-radius: 10px;
  border: none;

  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  text-transform: uppercase;

  width: 100%;
  height: 50px;
}
.large-component-button > svg {
  width: 36px;
  height: 24px;
}
.large-component-button.active {
  background: #f62765;
  color: white;
}
.large-component-button.active svg path {
  fill: white;
}
.large-component-button.disabled {
  background: #ededf3;
  color: #333333;
}
.large-component-button.disabled svg path {
  fill: #333333;
}

.app-component-card .component-link {
  position: relative;
  padding-left: 30px;

  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  border: none;
  background: transparent;
  color: #009aff;
}
.app-component-card .component-link svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;
}
.app-component-card .component-link svg path {
  fill: #009aff;
}

.component-text {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #303655;
}

.entry-row-form {
  display: flex;

  background: transparent;
  border: none;
  border-bottom: 1px solid #c4c4c4;
}
.entry-row-form p {
  width: 100%;
  min-height: 50px;

  padding-top: 10px;
  padding-bottom: 10px;

  background: transparent;
  border: none;

  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #303655;
}
.entry-row-form .form-icon {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.entry-row-form .form-icon svg {
  width: 20px;
  height: 20px;
}
.entry-row-form .form-icon svg path {
  fill: #f62765;
}

.app-component-card .tag-button {
  background: #f62765;
  border-radius: 26px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  margin: 1.5px;

  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;

  display: inline-block;
}

.app-component-card .small-avatar {
  width: 80px;
  height: 66px;
}
.app-component-card .small-avatar img {
  width: 66px;
  height: 66px;

  border-radius: 50%;
}

.app-component-card .component-progress-bar {
  width: 100%;
  height: 25px;
  border-radius: 15px;

  display: flex;

  background: #f3f3f4;

  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.component-progress-bar div {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;
}
.component-progress-bar .component-progress-done {
  background: #f62765;

  color: #ffffff;
}
.component-progress-bar .component-progress-yet {
  background: transparent;

  color: #f62765;
}
.component-progress-text {
  display: flex;
  justify-content: center;
  /* margin-top: -24px; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 38px;
  background: transparent;
}
.component-progress-text.active {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.component-progress-text.inactive {
  color: #f62765;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.app-component-card .clock-form {
  height: 30px;

  border: none;
  border-radius: 15px;

  color: white;

  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  padding-left: 15px;

  position: relative;
}
.clock-form.black {
  background: #333333;
}
.clock-form.primary {
  background: #009aff;
}
.clock-form svg {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.clock-form p {
  padding: 0;
  margin: 0;

  top: 50%;
  left: 12%;
  transform: translateY(-50%);
  position: absolute;
}

.app-component-card .status-component {
  width: 20px;
  height: 20px;

  margin-right: 10px;
}
.status-component.circle {
  border-radius: 50%;
}

.app-component-card .component-rank {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  background: #f3f3f4;
  border-radius: 5px;
}

.component-rank svg {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  margin-right: 8px;
}
.component-rank svg path {
  fill: #f62765;
}
.component-rank svg path:hover {
  fill: grey;
}

.app-component-card .component-gauge {
  position: relative;
}
.component-gauge img {
  position: absolute;
  bottom: 0;
  transform-origin: bottom center;
  margin-left: -5px;
}

.app-component-card .mapContainer {
  width: 100%;
  height: 300px;
}
