.icon-loader {
  width: 80px;
  height: 80px;
  background: #c4c4c4;
  border-radius: 15px;
}

.icon-loader-script {
  width: calc(100% - 90px);

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* txt_dark */

  color: #333333;
}
.icon-loader-script button {
  background: #36a7fd;
  border-radius: 28px;
  border: none;
  outline: none;
  /* Upload */

  width: 88px;
  height: 36px;

  /* btn_1_semibold_16 */
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  /* #ffffff */
  color: #ffffff;
}

.color-btn {
  width: 21px;
  height: 21px;

  border: none;
  border-radius: 50%;
}

.theme-card {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.theme-card p {
  margin-top: 10px;
}
.theme-card > div > div {
  cursor: pointer;
}

.match-card p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
