.text-card input[type='text'] {
  background: #ffffff;
  /* #BDBDBD */

  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 28px;

  padding: 5px 15px 5px 15px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  color: #333333;
}

.branding-card .file-upload {
  position: relative;
}
.branding-card .file-upload span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

.branding-card input[type='text'] {
  background: #ffffff;
  /* #BDBDBD */

  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 28px;

  padding: 5px 15px 5px 30px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  color: #333333;
}
.text-align {
  display: flex;
}
.text-align button {
  background: transparent;
  border-radius: 5px;
  border: none;

  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text-align button.active {
  background: #3ad6f533;
}

.text-align svg path {
  fill: #009aff;
}

.branding-card .button-group button {
  background: transparent;
}

.branding-card .button-group button.active {
  background: #3ad6f533;
}
