.Login {
   width: 100%;
   font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
   height: 100%;
   text-align: center;
   background-color: #F62765;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: white;
}

h1{
  
font-style: normal;
font-weight: bold;
font-size: 52.1633px;
line-height: 71px;
}
h2{
  
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
}

h3{
padding-top: 30px;
font-weight: bold;
font-size: 18px;
line-height: 25px;
}


  .LoginBtn{
    
    font-size: 5px;
    
    text-align: left;
    font-size: 25px;
    line-height: 50px;
    font-weight: 600;
    color: #F62765;
    width: fit-content;
    line-height: 40px;
  text-align: center;
    border: 2px solid white;
    border-radius: 8px;
     
      border-radius: 30px;
      width: 90%;
      height: 3em;
      position:relative;
    
  }
  .Logo{
    margin: auto;
      font-size: 30px;
   width: fit-content;
   height: fit-content;
  }
  
  .jetPack p{
    
    display: inline-flex;
    

    
font-size: 30px;
  }
  .jetPack img{
    margin-top: 7px;
    margin-left: 8px;
    margin-right: 8px;
    width: 30px;
    height: 30px;
  }

  
  
  